.btn{
  /*background-color: $mainBlue;*/
  color:#000;
  border-radius: 15px;
  text-align: center;
  text-decoration:none;
  padding:.75rem 1.2rem;
  display:inline-block;
  &--white{
    background-color:rgba(255,255,255,0.5);
  }

  &--large{
    padding:1.1rem 4rem;
  }

  @mixin atSmall{
      font-size:1.25rem;
  }
}
