*{
  outline:none;
}
form{
  float:left;
  width:100%;
  margin: 20px;
}

form>div{
  float:left;
  width:50%;
}
form>div>input{
  border-radius: 10px;
  border:1px solid #c4c4c4;
  font-size: 0.8em;
  padding:10px 5%;
  margin-bottom:10px;
  background-color: #fff;
  width:76%;
}

form>div>input:focus,form textarea:focus{
  /*border-color:#adadad;*/
  border:2px solid #adadad;
}
form textarea{
  border-radius: 5px;
border: 1px solid #c4c4c4;
font-size: 0.8em;
padding: 10px;
background-color: #fff;
width: 85%;
resize: vertical;
max-height: 200px;
min-height: 127px;
}
form .btn__send{
  border-radius: 5px;
  padding: 5px 15px;
  border: 0;
  cursor: pointer;
  background-color: #d59541;
  color: #fff;
  margin: 10px 0px;
}

form .btn:hover{
  border-bottom-color:#1999d1;
}
