.large-hero {
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  @mixin atMedium {
    padding-top: 125px;
  }
  &__image {
    display: block;
  }
  &__text-content {
    padding-top: 88px;
    position: absolute;
    /*top:50%;
  transform:translateY(-50%);*/
    right: 25px;
    width: 40%;
    text-align: left;
    @mixin atSmall {
      position: absolute;
      top: 75px;
      right: 0;
      width: 51%;
      text-align: left;
    }
    @mixin atMedium {
      position: absolute;
      top: 75px;
      right: 25px;
      width: 51%;
      text-align: left;
    }
    @mixin atLarge {
      width: 40%;
    }

    @mixin atXXLarge {
      height: 100%;
      padding: 190px 0px 0px 0px;
      top: 0px;
      width: 50%;
    }

    @mixin atXXXLarge {
      height: 100%;
      padding: 220px 0px 0px 0px;
      top: 0px;
      width: 50%;
    }

    @mixin atXXXXLarge {
      height: 100%;
      padding: 220px 0px 0px 0px;
      top: 0px;
      width: 50%;
    }

    p {
      text-align: center;
      @mixin atXXXLarge {}
    }

  }
  &__title {
    font-weight: 400;
    color: #000;
    margin: 0;
    font-size: 1.7rem;
    @mixin atSmall {
      font-size: 1.7rem;
    }
    @mixin atMedium {
      font-size: 1.8rem;
    }

    @mixin atXXLarge {
      font-size: 2.6rem;
      font-weight: 300;
      padding: 0px 0px 0px 50px;
    }

    @mixin atXXXLarge {
      font-size: 3.1rem;
      font-weight: 300;
      padding: 0px 0px 0px 50px;
    }

    @mixin atXXXXLarge {
      font-size: 3.5rem;
      font-weight: 300;
      padding: 0px 0px 0px 50px;
    }

  }
  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.5rem;
    margin: 0;
    @mixin atSmall {
      font-size: 2.9rem;
    }
  }
  &__description {
    text-align: left;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atXXLarge {
      margin: 85px auto;
      padding: 0;
      max-width: 100%;
    }

    @mixin atXXXLarge {
      margin: 100px auto;
      padding: 0;
      max-width: 100%;
    }
    @mixin atXXXXLarge {
      margin: 100px auto;
      padding: 0;
      max-width: 100%;
    }

    @mixin atMedium {
      margin-left: 60px;
      font-size: 2.5rem;
    }
    @mixin atSmall {
      font-size: 1.2rem;
    }
    li {
      padding: 30px 0px 15px 50px;
      background-image: url(../../assets/images/checker12.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 40px;
      @mixin atMedium {
        margin-top: 15px;
        padding: 5px 0px 0px 65px;
        background-size: 30px;
      }
      @mixin atXXLarge {
        padding: 5px 0px 0px 65px;
        margin: 40px 95px 0px;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.4rem;
      }
      @mixin atXXXLarge {
        padding: 5px 0px 0px 65px;
        margin: 50px 140px 0px;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.5rem;
      }
      @mixin atXXXXLarge {
        padding: 5px 0px 0px 65px;
        margin: 65px 150px 0px;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.8rem;
      }

    }

  }
}
