.large-hero {
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  @mixin atMedium {
    padding-top: 125px;
  }
  &__image {
    display: block;
    @mixin atSmallest {
      opacity: 0.6;
    }
    @mixin atSmall {
      opacity: 1;
    }

  }
  &__text-content {
    padding-top: 88px;
    position: absolute;
    /*top:50%;
  transform:translateY(-50%);*/
    right: 25px;
    width: 40%;
    text-align: left;
    @mixin atSmallest {
      top: 0;
      right: 0;
      width: 100%;
      text-align: left;
      padding-top: 20vmin;
    }
    @mixin atSmaller {
      top: 1%;
    }
    @mixin atSmall {
      right: 25px;
      height: 100%;
      padding: 65px 0px 0px 0px;
      top: 0px;
      width: 50%;
    }
    @mixin atMedium {
      padding: 160px 0px 0px 0px;
    }
    @mixin atLarge {
      padding: 165px 0px 0px 0px;
    }
    @mixin atLarger {
      padding: 170px 0px 0px 0px;
    }
    @mixin atXLarge {
      padding: 190px 0px 0px 0px;
    }
    @mixin atXXXLarge {
      padding: 220px 0px 0px 0px;
    }
    p {
      text-align: center;
      @mixin atSmall {
        margin: 0;
      }
    }
  }
  &__title {
    font-weight: 400;
    color: #000;
    margin: 0;
    font-size: 1.7rem;
    @mixin atSmallest {
      font-size: 5.2vmin;
      padding: 0px 1% 0px 14vmin;
      line-height: 1.2;
    }
    @mixin atSmaller {
      font-size: 5.3vmin;
      margin: 0 auto;
      padding: 0px 5px 0px 11%;
    }
    @mixin atSmall {
      font-size: 1rem;
      font-weight: 400;
      padding: 0px 0px 0px 55px;
    }
    @mixin atMedium {
      font-size: 1.48rem;
      padding: 0px 0px 0px 30px;
    }
    @mixin atLarge {
      font-size: 1.9rem;
    }
    @mixin atLarger {
      font-size: 2.1rem;
      font-weight: 300;
      padding: 0px 0px 0px 40px;
    }
    @mixin atXLarge {
      font-size: 2.25rem;
    }
    @mixin atXXLarge {
      font-size: 2.6rem;
      padding: 0px 0px 0px 50px;
    }
    @mixin atXXXLarge {
      font-size: 3.1rem;
    }
    @mixin atXXXXLarge {
      font-size: 3.5rem;
    }
  }
  &__description {
    text-align: left;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    @mixin atSmallest {
      font-size: 3.6vmin;
      line-height: 1.3;
      padding-right: 3vmin;
      padding-left: 25vmin;
    }
    @mixin atSmaller {
      font-size: 3.6vmin;
      /* margin-right: -1%; */
      padding-right: 5%;
      padding-left: 17%;
    }
    @mixin atSmall {
      margin: 25px auto;
      padding: 0;
      max-width: 100%;
    }
    @mixin atMedium {
      margin: 55px auto;
    }
    @mixin atLarge {
      margin: 70px auto;
    }
    @mixin atLarger {
      margin: 80px auto;
    }
    @mixin atXXLarge {
      margin: 85px auto;
    }
    @mixin atXXXLarge {
      margin: 100px auto;
    }
  }
  &__description li {
    padding: 30px 0px 15px 50px;
    background-image: url(../../assets/images/checker12.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    @mixin atSmallest {
      padding: 2vmin 0vmin 2vmin 10vmin;
      background-size: 7vmin;
    }
    @mixin atSmaller {
      padding: 4% 0px 15px 50px;
      background-size: 30px;
    }
    @mixin atSmall {
      background-size: 20px;
      padding: 5px 0px 0px 35px;
      margin: 18px 10px 0px 75px;
      font-weight: 400;
      line-height: 1.2;
      font-size: 0.8rem;
    }
    @mixin atMedium {
      background-size: 30px;
      padding: 5px 0px 0px 50px;
      margin: 15px 10px 0px 90px;
      line-height: 1.3;
      font-size: 1rem;
    }
    @mixin atLarge {
      padding: 5px 0px 0px 65px;
      margin: 35px 60px 0px 110px;
      line-height: 1.4;
      font-size: 1.1rem;
    }
    @mixin atLarger {
      margin: 40px 70px 0px 120px;
      line-height: 1.3;
      font-size: 1.2rem;
    }
    @mixin atXLarge {
      margin: 40px 95px 0px;
      line-height: 1.4;
      font-size: 1.25rem;
    }
    @mixin atXXLarge {
      line-height: 1.5;
      font-size: 1.4rem;
    }
    @mixin atXXXLarge {
      margin: 50px 140px 0px;
      font-size: 1.5rem;
    }
    @mixin atXXXXLarge {
      margin: 65px 150px 0px;
      font-size: 1.8rem;
    }
  }
}
