.row {
  @mixin clearfix;
  &--t-padding {
    padding-top: 80px;
  }
  &--gutters {
    margin-right: -65px;
  }
  &--gutters-large {
    margin-right: -100px;
  }
  &--gutters-small {
    margin-right: -45px;
  }
  &--gutters>div {
    /*padding-right: 65px;*/
  }
  &--gutters-large>div {
    padding-right: 100px;
  }
  &--gutters-small>div {
    padding-right: 45px;
  }
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }
  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
    &__medium-4 {
      float: left;
      width: 33.33%;
    }
    &__medium-4--larger {
      width: 37%;
    }
    &__medium-6 {
      float: left;
      width: 50%;
    }
    &__medium-8 {
      float: left;
      width: 66.66%;
    }
    &__medium-8--smaller {
      width: 63%;
    }
  }
  @mixin atLarge {
    &__b-margin-until-large {
      margin-bottom: 0;
    }
    &__large-4 {
      float: left;
      width: 33.33%;
    }
    &__large-4--larger {
      width: 37%;
    }
    &__large-6 {
      float: left;
      width: 50%;
    }
    &__large-8 {
      float: left;
      width: 66.66%;
    }
    &__large-8--smaller {
      width: 63%;
    }
  }
  /*begin equal height rules*/
  .flexbox &--equal-height-at-medium {
    @mixin atSmaller {
      display: flex;
    }
    @mixin atSmall {
      display: flex;
      width:80%;
      margin: 0 auto;
    }
    @mixin atMedium {
      display: flex;
      width: 85%;
      margin: 0 auto;
    }
    @mixin atLarge {
      display: flex;
      width: 85%;
      margin: 0 auto;
    }
    @mixin atLarger {
      display: flex;
      width: 80%;
      margin: 0 auto;
    }
    @mixin atXLarge {
      display: flex;
      width: 70%;
      margin: 0 auto;
    }
    @mixin atXLarge {
      display: flex;
      width: 65%;
      margin: 0 auto;
    }
    @mixin atXXLarge {
      display: flex;
      width: 60%;
      margin: 0 auto;
    }
    @mixin atXXXLarge {
      display: flex;
      width: 50%;
      margin: 0 auto;
    }
    @mixin atXXXXLarge {
      display: flex;
      width: 40%;
      margin: 0 auto;
    }
    &>div {
      float: none;
      display: flex;
      margin: 0 auto;
    }
  }
}
