.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  &--medium {
    max-width: 976px;
  }
  &--narrow {
    max-width: 470px;
  }
  &--medium {
    max-width: 60%;
  }
  &--large {
    max-width: 85%;
  }
  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;
    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;
    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  &--b-margin {
    margin-bottom: 1rem;
    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }
  &--bg-White {
    background-color: $mainWhite;
  }
  &--bg-LightGrey {
    background-color: $LightGrey;
  }
  &--bg-Grey {
    background-color: #f7f7f7;
    padding:15px 20px;
    text-align: center;
    p{
      font-size:1.5rem;
      line-height: 1.7;
      width: 70%;
      margin:0 auto;
    }
  }

  &--bg-DarkGrey {
    padding: 5px;
    background-color: #969696;
  }
}
